# Database Configuration
DATABASE_URL=psql 'postgresql://neondb_owner:npg_1nqLKawezX9Q@ep-sweet-violet-a4j3a7c6-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
BETTER_AUTH_SECRET=todochatbot2025
